* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

div {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
}