* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

div {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
}
div i {
	color: red;
}